<!DOCTYPE html>
<html>
<head>
	<title>Patatap Project</title>
	<link rel="stylesheet" type="text/css" href="static/css/circles.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.2/paper-full.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script>
	<script type="text/paperscript" canvas="myCanvas" src="static/js/data.js"></script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>